{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "parserOptions": { "project": "./tsconfig.json" },
  "rules": {
    "jsx-a11y/label-has-associated-control": ["error", {
      "required": {
        "some": ["nesting", "id"]
      }
    }],
    "func-names": ["error", "never"],
    "consistent-return": "off",
    "quotes": "off",
    "@typescript-eslint/default-param-last": 0,
    "@typescript-eslint/quotes": ["error", "single"],
    "semi": ["error", "always"],
    "indent": ["error", 2],
    "no-console": "off",
    "import/prefer-default-export": "off",
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "pathGroupsExcludedImportTypes": ["react"],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "groups": [
          "builtin",
          "external",
          "parent",
          "sibling",
          "index"
        ],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ]
      }
    ],
    "react/function-component-definition": [
      2,
      { "namedComponents": "arrow-function" }
    ],
    "no-unused-expressions": "off",
    "operator-linebreak": "off"
  },
  "plugins": ["react", "prettier"],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@/components", "./src/components"],
          ["@/styles", "./src/styles"],
          ["@/assets", "./src/assets"],
          ["@/store", "./src/store"],
          ["@/sagas", "./src/sagas"],
          ["@/api", "./src/api"],
          ["@/hooks", "./src/hooks"],
          ["@/helpers", "./src/helpers"],
          ["@/constants", "./src/constants"],
          ["@/types", "./src/types"]
        ],
        "extensions": [".ts", ".js", ".jsx", ".tsx", ".json"]
      }
    }
  }
}